.dp{
    display: flex;
}
 .allsec{
    /* width: 1140px; */
}
.school{
width: 1440px;
height: 102px;
}
.nav{
 width: 1160px;
height: 62px;
align-items: center;
}
.scl{
    margin-left: 180px;
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 16px;
font-weight: 450;
text-align: left;
}

.home{
    align-items: center;
    margin-left: 180px;
    flex-direction: row;
justify-content: flex-start;
align-items: center;
    gap: 20px;

}
.Contact{
    margin: 0px 280px;
    
}
.H{
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

}
.A{
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.F{
    color: rgb(5, 212, 223);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.D{
    color: rgb(93, 88, 239);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.ct{
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 300px;
line-height: 30px;
letter-spacing: 0%;
border: none;
width: 100px;
height: 30px;
border-radius: 12px;
background: rgb(254, 163, 1);
}
.emp{
    width: 640px;
    height: 331px;
    margin-left: 200px;
}
.from{
        /* gap:100px; */
    }

.hero{
    width: 468px;
height: 575px;
margin: 0px 330px;
}
.Empowering{
    font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.Empowering1{
color: rgb(254, 163, 1);
}
.towards{
color: 
rgb(1, 172, 253);
}
.with{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.Enroll{
border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.curri{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 38px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0%;
text-align: center;
}
.standard{
    width: 1160px;
    margin-left: 185px;
    margin-right: 110px;
    background-image: url("../B11-A2-Kids-School-main/assets/bg.png");
}
.kinder{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(222, 245, 255);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
} 
.Elementary{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(255, 244, 220);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
} 

.Middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(242, 232, 255);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
}
.nato{
    gap:18px;
}
.im{
    margin-top: 35px;
}

.Read {
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: center;

}

.Read1{
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
} 

.Read2{
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
} 
.imu{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.imu1{
    border-radius: 50%;
    background: rgb(254, 163, 1);
}
.imu2{
    border-radius: 50%;
    background: rgb(254, 163, 1);
}

.stories{
    background-image: url("../B11-A2-Kids-School-main/assets/bg.png");
position: absolute;
width: 1440px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 0px 60px 0px;
background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);


}
.find{
    display: grid;
    grid-template-columns: repeat(2,1fr);
position: relative;
width: 290.69px;
height: 301.61px;
border-radius: 16px;

background: rgb(255, 255, 255);
gap: 10px;
}
.rish{
position: relative;
width: 290.69px;
height: 301.61px;
border-radius: 16px;

background: rgb(255, 255, 255);
}
.stories2{
position: relative;
width: 540px;
height: 630px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.f1{
position: absolute;
width: 174px;
height: 47px;
left: 38px;
top: 300px;
border-radius: 45px;

background: rgb(60, 216, 232);
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15px;
font-weight: 500;
display: flex;
text-align: center;
align-items: center;
padding-left: 35px;
}

.f2{
position: absolute;
width: 174.51px;
height: 38.35px;
left: 38px;
top: 140px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
display: flex;
text-align: center;
align-items: center;
padding-left: 35px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.f3{
    position: absolute;
width: 174.51px;
height: 38.35px;
left: 38px;
top: 140px;
border-radius: 47.93px;
background: rgb(93, 88, 240);
display: flex;
text-align: center;
align-items: center;
padding-left: 35px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.f4{
    position: absolute;
width: 174.51px;
height: 38.35px;
left: 38px;
top: 140px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
display: flex;
text-align: center;
align-items: center;
padding-left: 35px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.f5{
    position: absolute;
width: 174.51px;
height: 38.35px;
left: 38px;
top: 140px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
display: flex;
text-align: center;
align-items: center;
padding-left: 35px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.aura{
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
padding-top: 30px;


}
.jr{
    gap: 14px;
    margin-right:210px;
}
.tod{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
padding-top: 30px;
}
.branding{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
padding-top: 30px;
}
.our{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 38px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0%;
text-align: center;
margin-left: 50px;
}

.view{
    width: 197px;
height: 50px;
    border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: center;
margin-top: 40px;

}

.footer{

position: absolute;
width: 1440px;
height: 520px;
left: 1px;
top: 2300px;
background: rgb(1, 172, 253);
}
.edu{
    margin: 100px 130px;
}
.rela{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
width: 400px;
height: 100px;
}
.ki{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 2rem;
font-weight: 500;
line-height:25px;
text-align: left;
}
.homee{

    margin-top: 100px;
}
.fc1{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.fc2{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.in{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.touch{
    margin: 100px 0px 0px 150px;
}
.uu{
    margin-left: 80px;
}

.menu{
    display: none;
}

@media (max-width: 768px){

    
}
@media screen and (max-width:570px) {
  
    
    .nav{ 
border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .school2{
        display: none;
    }
    .home{
        display: none;
    }
.Contact{
    display: none;
}

.kids{
   margin-left: 0px;
}
.menu{
    display: flex;
    justify-content: flex-end;
}
.from{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px 120px 0px 120px;
}
.imu{
    display: none;
}
.nato{
    flex-direction: column;
    align-items: center;
    margin-right: 1200px;
}
.curri{
    margin-right: 1330px;
}
.fahad{
    align-items: center;
}

.our{
    margin-right: 1330px;
}
.stories2{
    display: none;
}
.find{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 1200px;
}
.footer{
    top: 3800px;
    margin-right: 700px;
}

.uu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.edu{
    padding-right: 1000px;
}
.touch{
    padding-left: 0px;
}
.in{
color: blue;
}
.fc1{
color: chartreuse;
}
.fc2{
color: cornflowerblue;
}
.view{
 padding-left: 0px;
}
}
