.dp{
    display: flex;
}
 .allsec{
    /* width: 1140px; */
}
.school{
width: 1440px;
height: 102px;
}
.nav{
 width: 1160px;
height: 62px;
align-items: center;
}
.scl{
    margin-left: 180px;
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 16px;
font-weight: 450;
text-align: left;
}

.home{
    align-items: center;
    margin-left: 180px;
    flex-direction: row;
justify-content: flex-start;
align-items: center;
    gap: 20px;

}
.Contact{
    margin: 0px 280px;
    
}
.H{
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

}
.A{
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.F{
    color: rgb(5, 212, 223);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.D{
    color: rgb(93, 88, 239);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.ct{
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 300px;
line-height: 30px;
letter-spacing: 0%;
border: none;
width: 100px;
height: 30px;
border-radius: 12px;
background: rgb(254, 163, 1);
}
.emp{
    width: 640px;
    height: 331px;
    margin-left: 200px;
}
.from{
        /* gap:100px; */
    }

.hero{
    width: 468px;
height: 575px;
margin: 0px 330px;
}
.Empowering{
    font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.Empowering1{
color: rgb(254, 163, 1);
}
.towards{
color: 
rgb(1, 172, 253);
}
.with{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.Enroll{
border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.curri{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 38px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0%;
text-align: center;
}
.standard{
    width: 1160px;
    margin-left: 185px;
    margin-right: 110px;
    background-image: url("../B11-A2-Kids-School-main/assets/bg.png");
}
.kinder{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(222, 245, 255);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
} 
.Elementary{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(255, 244, 220);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
} 

.Middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(242, 232, 255);
border-radius: 19px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 365px;
height: 475px;
}
.nato{
    gap:18px;
}
.im{
    margin-top: 35px;
}

.Read {
    color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: center;

}

.Read1{
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
} 

.Read2{
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
} 
.imu{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.imu1{
    border-radius: 50%;
    background: rgb(254, 163, 1);
}
.imu2{
    border-radius: 50%;
    background: rgb(254, 163, 1);
}